@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--primeira-cor);
}

::-webkit-scrollbar-thumb {
    background-color: var(--segunda-cor);
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	padding: 0;
	margin: 0;
}

audio {
	display: none;
}

:root {
	--primeira-cor: #1e0c42;
	--segunda-cor: #f5be58;
	--terceira-cor: #f0077b;
	--quarta-cor: #079ea6;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 5rem;
	color: var(--segunda-cor);
	text-shadow: 1px 1px 75px #fff;
	text-align: center;
	margin-bottom: 2rem;
	z-index: 2000;
}

body {
	background-color: var(--primeira-cor);
	background-size: 100%;
	height: 100%;
}

#quiz {
	background-color: rgba(255, 255, 255, .8);
	padding: 2rem;
	border-radius: 1rem 0 1rem 0;
	border: 5px solid var(--segunda-cor);
	width: 30%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
/*	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	z-index: -1;
}

#quiz p {
	font-weight: bolder;
}

#quiz p span {
	font-weight: normal;
}

.pontuacaoFlutuante {
	background-color: var(--segunda-cor);
	color: #fff;
	padding: 1rem;
	position: fixed;
	top: 0;
	right: 0;
	border-radius: 0 0 0rem 1rem;
	font-weight: bolder;
	line-height: 150%;
	text-align: center;
	font-size: 2rem;
}

#toast {
	z-index: 3000;
	display: none;
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	background: var(--quarta-cor);
	color: #fff;
	padding: 1rem;
	width: 30%;
	font-size: 1rem;
	font-weight: bolder;
	text-align: center;
	border-radius: 1rem;
}

#toggleToast {
	background-color: #eee;
	margin: 1rem 0;
	width: 4rem;
	border-radius: 1rem;
	display: flex;
	cursor: pointer;
}

#switchToast {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: green;
}

#infoStreak {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 1rem;
	font-size: 1.25rem;
	font-weight: bolder;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--terceira-cor);
	color: #fff;
	line-height: 100%;
}

.botoes {
	width: 100%;
	padding-top: 1rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.botoes button {
	margin: .5rem;
}

button {
	padding: 1rem;
	border: 0;
	border-radius: 1rem;
}

button:hover {
	cursor: pointer;
	opacity: .75;
}


input {
	padding: 1rem;
	border: none;
	border: 3px solid var(--primeira-cor);
	color: var(--primeira-cor);
	font-weight: bolder;
	margin-top: 1rem;
	background: transparent;
	font-size: 1rem;
	width: 90%;
	text-align: center;
}

input:focus {
	outline: none;
}

#btnRevelarResposta {
	background-color: var(--primeira-cor);
	color: #fff;
}

#btnProxima, #btnEnviar {
	background-color: var(--primeira-cor);
	color: #fff;
}

#btnDica, #btnNovoTrecho {
	background-color: var(--segunda-cor);
	color: #fff;
}

#vinil {
	position: relative;
}

#vinil img {
	width: 200px;
}

#btnPlay {
	background: var(--segunda-cor);
	font-size: 4rem;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	line-height: 100%;
	color: #fff;
	padding: 0;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#btnPlay:hover {
	opacity: 1;
}

#btnDuracao {
	background: var(--segunda-cor);
	color: #fff;
}


#resposta, #dicas {
	margin-top: 0;
}

.borrado {
	display: inline-block;
	filter: blur(.25rem);
	height: 1rem;
}

.borrado:after {
	content: '  ?????????????';
}

li span {
	font-style: italic;
}

.bg-modal {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal {
	min-width: 50%;
	height: 75vh;
	background-color: #fff;
	border-radius: 1rem;
	position: relative;
	overflow-y: scroll;
	box-shadow: 1px 1px 25px var(--segunda-cor);
	padding: 1rem;
}

.opcoes {
	width: 100%;
	display: flex;
	list-style: none;
	justify-content: space-around;
}

.check {
	border: none !important;
	width: 1rem !important;
	margin: 0 !important;
	padding: 0 !important;
}

.modal h2 {
	color: var(--primeira-cor);
}

#btnSalvar {
	background-color: var(--segunda-cor);
	color: #fff;
}

#fecharModal {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-weight: bolder;
	font-size: 2rem;
	text-decoration-style: normal;
	cursor: pointer;
}

#abrirConfig {
	color: var(--segunda-cor);
	font-weight: bolder;
	font-size: 3rem;
	position: absolute;
	top: 1rem;
	left: 1rem;
	cursor: pointer;
}

#abrirConfig:hover {
	opacity: .75;
}

#configuracoes input {
	display: block;
	margin: 1rem auto;
	padding: .5rem;
	border: 1px solid #ccc;
}

.modal label {
	display: block;
	font-weight: bolder;
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
}

#configuracoes .opcoes input  {
	display: inline;
}

#configuracoes h2 {
	text-align: center;
}

#configuracoes #toggleToast, #configuracoes button {
	display: block;
	margin: 1rem auto;
}

.opcoes li label {
	display: inline;
	font-weight: normal;
}

#escolhaTrechosGerados {
	position: fixed;
	top: 50%;
	right: 5rem;
	transform: translateY(-50%);
	height: 30vh;
	width: 30vh;
	border-radius: 1rem;
	background-color: var(--segunda-cor);
	padding: 1rem;
	text-align: center;
	border: 5px solid #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#listaTrechos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#listaTrechos ul li {
	cursor: pointer;
	background-color: var(--terceira-cor);
	color: #fff;
	border-radius: 1rem;
	padding: 5px;
	margin-bottom: 5px;
}

#listaTrechos ul li:hover {
	text-decoration: underline;
	opacity: .75;
}

.revelacao {
	text-align: center;
}

.revelacao #dicas {
	list-style: none;
}

@keyframes moveBanner {
	0% {
		background-position: 50% 0%;
	}
	50% {
		background-position: 70% 25%;
	}
	75% {
		background-position: 30% 75%;
	}
	90% {
		background-position: 10% 90%;
	}
	100% {
		background-position: 50% 0%;
	}
}

@keyframes rotate{
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

@media screen and (max-width: 1000px) {
	#quiz {
		background-color: transparent;
		border: none;
	}

	h1 {
		font-size: 2.5rem;
		position: absolute;
		width: 100%;
		top: .5rem;
		left: 50%;
		transform: translateX(-50%);
	}

	body {
		padding: 0;
		margin: 0;
	}

	#respostaUsuario {
		background-color: #fff;
		border: none;
		position: fixed;
		width: 100%;
		left: 0;
		bottom: 0;
		margin: 0;
	}

	.botoes.dicas {
		position: absolute;
		bottom: 4rem;
		left: 0;
	}

	.botoes.prosseguimento {
		position: absolute;
		bottom: 9.5rem;
		left: 0;
	}

	.botoes.prosseguimento button {
		border: 2px solid #fff;
	}

	#vinil {
		position: absolute;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#vinil img {
		width: 325px;
	}

	#escolhaTrechosGerados {
		top: 18%;
		left: 0;
		font-size: 1rem;
		height: 10vh;
		width: 100%;
		padding: 5px;
		border: none;
		border-radius: 0;
		flex-direction: row;
	}

	.revelacao {
		position: absolute;
		top: 22%;
		left: 0;
		width: 100%;
		display: block;
		position: fixed;
		background-color: var(--segunda-cor);
		text-align: center;
	}

	#escolhaTrechosGerados h3 {
		margin: 5px 0;
	}

	#listaTrechos ul {
		display: flex;
		justify-content: space-around;
	}

	#listaTrechos ul li {
		cursor: pointer;
		background-color: var(--terceira-cor);
		color: #fff;
		border-radius: 5px;
		padding: 2px;
		margin-bottom: 1px;
		width: 21%;
		font-size: 1rem;
		margin-right: 5px;
		display: block;
		margin: 0 auto;
	}

	.pontuacaoFlutuante {
		background-color: var(--segunda-cor);
		color: #fff;
		padding: 5px;
		font-size: 1rem;
	}

	#abrirConfig {
		color: var(--segunda-cor);
		font-weight: bolder;
		font-size: 1rem;
		position: absolute;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}

	.revelacao #dicas {
		list-style: none;
	}

	#toast {
		bottom: 90%;
		width: 90%;
	}

	#infoStreak {
		bottom: 5px;
		right: 5px;
	}
}

@media screen and (max-width: 400px) {
	#listaTrechos ul li {
		font-size: .75rem;
	}
}